@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #2f3082; /* #4caf50 */
}

a {
  color: #2f3082 !important; /* #4caf50 */
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#msg {
	font-size: 10px;
	color: gray;
	font-style: italic;
}

#message input[type="text"],
#message input[type="email"],
#message input[type="tel"],
#message input[type="url"],
#message textarea,
#message button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#message {
  background: #f9f9f9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#message h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#message h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#message input[type="text"],
#message input[type="email"],
#message input[type="tel"],
#message input[type="password"],
#message input[type="url"],
#message textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#message input[type="text"]:hover,
#message input[type="email"]:hover,
#message input[type="tel"]:hover,
#message input[type="password"],
#message input[type="url"]:hover,
#message textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#message textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#message button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #2f3082; /* #4caf50 */
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#message button[type="submit"]:hover {
  background: #43a047;
}

#message button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#message input:focus,
#message textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

@media only screen and (max-width: 500px) {
	.container {
		position: absolute;
		top: 0;
		left: 0;
		max-width: none;
		width: 100%;
		height: 100%;
	}
	#message {
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		margin: 0;
		padding-top: 100px;
	}
	#contact-submit {
		padding: 25px !important;
		font-size: 25px !important;
	}
	textarea {
		font-size: 16px !important;
		height: 200px !important;
	}
}